@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

@import "tailwindcss";

html {
  border-radius: 0px;
}

@layer base {
  :root {
    interpolate-size: allow-keywords;

    --background_gradiente: linear-gradient(to right bottom, #535353 0%, #4b7586 30%, #34e69f 100%);
    --background_1: rgb(255, 255, 255);
    --background_2: #ebebeb;
    --text: #000000;
    --color-base: #ffff;
  }
}

@theme inline {
  --color-foreground: var(--foreground);
}


@media (prefers-color-scheme: dark) {
  :root {
    --background_1: #3d3c3c;
    --background_2: #757575;
    --text: #ededed;
    --color-base: #575757;
  }
}

@layer components {
  .border-clase {
    border-radius: 0px;
    border: 1px solid var(--text);
  }

  .border-clase:focus {
    border: 2px solid rgb(75, 136, 228);
  }
}

@custom-variant sm-mini {
  @media (max-width: 21rem) {
    @slot;
  }
}

@theme {
  --animate-entradaModal: animacion-entrada-modal 1s ease forwards;
  --animate-salidaModal: animacion-salida-modal 1s ease forwards;
  --color-base: var(--color-base);
  --font-sans: "Ubuntu", system-ui;



  @keyframes animacion-entrada-modal {
    from {
      transform: translateY(-100%) scale(0)
    }

    to {
      transform: translateY(100%) scale(1)
    }
  }

  @keyframes animacion-salida-modal {
    from {
      transform: translateY(100%) scale(1)
    }

    to {
      transform: translateY(-100%) scale(0)
    }
  }

  --animate-textEntrada: animacion-text-Entrada 1s ease forwards;

  @keyframes animacion-text-entrada {
    from {
      transnform: translateX(-100%)
    }

    to {
      transform: translateX(0%)
    }
  }
}