@import "tailwindcss";

@layer base {
  :root {
    interpolate-size: allow-keywords;

    --background: rgb(218, 218, 218);
    --text: #000000;
    --color-base: #ffff;
  }
}


html {
  border-radius: 0px;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #3d3c3c;
    --text: #ededed;
    --color-base: #575757;

  }
}

body {
  /* background: var(--background) */
  font-family: Arial, Helvetica, sans-serif;
}

@layer components {
  .border-clase {
    border-radius: 0px;
    border: 1px solid var(--text);
  }

  .border-clase:focus {
    border: 2px solid rgb(75, 136, 228);
  }
}


@theme {
  --animate-entradaModal: animacion-entrada-modal 1s ease forwards;
  --animate-salidaModal: animacion-salida-modal 1s ease forwards;
  --color-base: var(--color-base);



  @keyframes animacion-entrada-modal {
    from {
      transform: translateY(-100%) scale(0)
    }

    to {
      transform: translateY(100%) scale(1)
    }
  }

  @keyframes animacion-salida-modal {
    from {
      transform: translateY(100%) scale(1)
    }

    to {
      transform: translateY(-100%) scale(0)
    }
  }
}

.s {
  transform: scale();
}